{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div>
        <a href="{{ path('show_all_reservation_slot') }}" class="btn btn-primary">Zpět na přehled</a>
    </div>
{% endblock %}
