{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="col-md-12 smaller-padding">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('create_reservation_slot') }}" class="btn btn-success">Vytvořit nový trénink</a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('logout') }}" class="btn btn-primary">Odhlásit se</a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-primary">Přihlásit se</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for reservationForm in reservationsForms %}
            {{ include('reservation_slot/detail.html.twig', { 'reservation': reservationForm.reservation, 'visitorForm': reservationForm.form }) }}
            {% if (loop.index % 6) == 0 %}
                <div class="clearfix visible-lg-block"></div>
            {% endif %}
            {% if (loop.index % 4) == 0 %}
                <div class="clearfix visible-md-block"></div>
            {% endif %}
            {% if loop.index % 2 == 0 %}
                <div class="clearfix visible-sm-block"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
