{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Sport:showAll{% endblock %}

{% block body %}
<h1>Welcome to the Sport:showAll page</h1>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                heading
            </div>
            <div class="panel-body">
                body
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 cols-xs-12">
            <a href="{{ path('show_all_reservation_slot') }}" class="btn btn-primary">Zpět na přehled</a>
        </div>
    </div>
{% endblock %}
