{% extends "base.html.twig" %}

{% block title %}Sporty{% endblock %}

{% block body %}
<h1>Sporty</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <table class="table">
                <tbody>
                {% for sport in sports %}
                    <tr>
                        <td>
                            {{ sport.name }}
                        </td>
                        <td>
                            <a href="{{ path('app_deleteSport', { 'id': sport.id }) }}" class="btn btn-outline-danger btn-sm">Smazat</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 float-left">
            <a href="{{ path('app_createSport') }}" class="btn btn-success">Nový sport</a>
            <a href="{{ path('app_showAllReservations') }}" class="btn btn-primary">Zpět na přehled</a>
        </div>
    </div>
{% endblock %}
